############## Externsions to ignore
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.tar.gz
*.rar
*.iml
*.sublime-workspace
*.versionsBackup
*.launch
*.db
.env
.env.dck
.env.dev

############## files to ignore
.project
.classpath
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
hs_err_pid*
replay_pid*
npm-debug.log
yarn-error.log
testem.log

############## Directories to ignore
.vscode/*
.docker
.idea
.c9

/dist
*/dist
**/dist
***/dist

/target
*/target
**/target
***/target

/tmp
*/tmp
**/tmp
***/tmp

/log
*/log
**/log
***/log

/logs
*/logs
**/logs
***/logs

/out-tsc
*/out-tsc
**/out-tsc

/node_modules
*/node_modules
**/node_modules
***/node_modules

/coverage
/typings

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

############## files to keep
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


############## others
/e2e/*.js
/e2e/*.map
